@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager

@model ProfileSummaryDto

<div class="panel profile-cover">
    <div class="profile-cover__img">
        <img src="@Model.ImagePath" alt="" />
        <h3 class="h3">@Model.Name</h3>
        <h5 class="h5">@Model.UserName</h5>
    </div>
    <div class="profile-cover__action bg--img" data-overlay="0.3">
        @if (SignInManager.IsSignedIn(User) && User.Identity.Name != @Model.UserName)
        {
            @await Component.InvokeAsync("FollowUser", new { UserName = @Model.UserName })}
        else if (SignInManager.IsSignedIn(User) && User.Identity.Name == @Model.UserName)
        {
            <a class="btn btn-rounded btn-info" asp-controller="Account" asp-action="EditProfile" asp-route-username="@User.Identity.Name">
                <i class="fa fa-comment"></i>
                <span>Settings</span>
            </a>
        }
    </div>
    <div class="profile-cover__info">
        <ul class="nav">
            <li><strong>@Model.PostsCount</strong>Total Post Count</li>
            <li id="FollowersCount"><strong>@Model.FollowingsCount</strong><a style="color: #999;" asp-controller="Profile" asp-action="Followers" asp-route-username="@Model.UserName">Followers</a></li>
            <li id="FollowingsCount"><strong>@Model.FollowersCount</strong><a style="color: #999;" asp-controller="Profile" asp-action="Followings" asp-route-username="@Model.UserName">Followings</a></li>
        </ul>
    </div>
</div>
<script>
var FollowersCount = @Model.FollowingsCount;
var FollowingsCount = @Model.FollowersCount;
</script>